<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
	<link href="//fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>				
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>        
    <link rel="stylesheet" type="text/css" 	href="/stylesheets/app.css">        
	<title>Image Search Abstraction Layer</title>
</head>
<body>
	<div class="container">	
		<div class="page-header">
		  <h1 class="text-center">Image Search Abstraction Layer</h1>	
		</div>
			
		
		

