<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
		<h1>User Stories</h1>		
		<ol>
			<li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
			<li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
			<li>I can get a list of the most recently submitted search strings.</li>
		</ol>			
	</div>
	<div class="col-md-12">
		<h1>Example Usage</h1>
		<hr>
		<h3>Search Query</h3>
		<code>https://img-sal.herokuapp.com/lolcats%20funny?offset=10</code>
		<h3>Output</h3>
		<code>
			[{"url":"http://cutepersiancat.xyz/wp-content/uploads/2016/08/magnificent-lol-cats-and-also-lolcats-funny-cat-pictures.jpg","snippet":"... lolcats funny cat pictures","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT14uoxBALX2_k5nxQgpjBKIv2fDDjTdvV1uyXeSoDmq9WDH3ujXPEDDRLn","context":"http://cutepersiancat.xyz/cool-lol-cats/fascinating-lol-cats-and-lolcats-funny-cat-pictures/"},{"url":"https://momentofzen.in/wp-content/uploads/2010/08/lolcat-funny-picture-moderator1.jpg","snippet":"lolcat-funny-picture- ...","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSly4P_8NJmjHOGZGVetmT2Zv07JqigsieKo2z7xPB-ntfpwnb1uCFj6PE","context":"https://www.momentofzen.in/2010/08/08/funneh-pickchaaaz/"},{"url":"http://cutepersiancat.xyz/wp-content/uploads/2016/08/awesome-lol-cats-along-with-lolcats-page-2-funny-cat-pictures.jpg","snippet":"... With Lolcats Page 2 Funny ...","thumbnail":"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQcxGy_hL6L291y0Qc2w84d_T_MWphIauljYQWUkxREF0D116l_7Qx5cw","context":"http://cutepersiancat.xyz/cool-lol-cats/awesome-lol-cats-along-with-lolcats-page-2-funny-cat-pictures/"},{"url":"http://s2.favim.com/orig/33/cat-funny-lol-lolcats-mean-Favim.com-261389.jpg","snippet":"cat, funny, lol, lolcats, mean","thumbnail":"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjH2_3xIIzquPGN-GVgivEQ1Ib4T9W9mCRjcYBsvLNB-e_aWb213o2-qo4","context":"http://favim.com/image/261389/"},{"url":"http://cutepersiancat.xyz/wp-content/uploads/2016/08/awesome-lol-cats-along-with-lolcats-page-2-funny-cat-pictures-300x300.jpg","snippet":"... with lolcats page 2 funny ...","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH5NKeil6hHRdF5AzKt9Ms-aqxuMnYq6hxym4dVVkITPAXhltDsm1jLw","context":"http://cutepersiancat.xyz/cool-lol-cats/fascinating-lol-cats-and-lolcats-funny-cat-pictures/"},{"url":"http://data.whicdn.com/images/31771482/large.jpg","snippet":"... funny and sadbuttrue","thumbnail":"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSARTd_0m1r8xvroQSuhdV09QAuihK1emghiz1M2TgA1kdjlQAMR71xasDh","context":"http://weheartit.com/entry/group/42401457"},{"url":"http://cutepersiancat.xyz/wp-content/uploads/2016/08/fascinating-lol-cats-and-lolcats-funny-cat-pictures-300x300.jpg","snippet":"... lolcats funny cat pictures","thumbnail":"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTtjGBdnMXUbh1sC39HQFmto4W4MNg_Ib-tbvtocoa4wToOU5l1XFnqcg","context":"http://cutepersiancat.xyz/cool-lol-cats/fascinating-lol-cats-and-lolcats-funny-cat-pictures/"},{"url":"https://momentofzen.in/wp-content/uploads/2010/08/lolcat-funny-picture-mario-cat.jpg","snippet":"lolcat-funny-picture-mario-cat","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG5KJ3j_KhzZ3b_GF3voOUkfuHcWQhtv4YZCvD2_Z-Byj-GMeJCZlSuf5R","context":"https://www.momentofzen.in/2010/08/08/funneh-pickchaaaz/"},{"url":"https://i.ytimg.com/vi/8nOsEEBrEuA/hqdefault.jpg","snippet":"LOLCats in All Fired Up lol ...","thumbnail":"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuWNpmeNmLlMNc0v32tK83j4eOrOPVS6M2kty-CVFzQTvbS9d9WdKfrg7E","context":"https://www.youtube.com/watch?v=8nOsEEBrEuA"},{"url":"http://cdn.playbuzz.com/cdn/d68ef92c-3973-4b00-98c9-913e423d83ff/f9ec20e0-bb55-48b1-8789-bb51947e4d12.jpg","snippet":"Whats a Summary of Your life?","thumbnail":"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRWWY7kdyrsQXsyW8fqoVs6_I-RwRm1BFpduC6imCrnbsbuT0Q5pmqrHrg","context":"http://www.playbuzz.com/mikeyh10/whats-a-summary-of-your-life"}]
		</code>

		<hr>
		<h3>Latest Search Requests</h3>
		<code>https://img-sal.herokuapp.com/latest</code>
		<h3>Output</h3>
		<code>
			[{"term":"lolcats funny","when":"2016-11-02T11:17:59.995Z"},{"term":"lolcats funny2","when":"2016-11-02T11:16:47.454Z"},{"term":"lolcats funny2","when":"2016-11-02T10:18:21.191Z"},{"term":"lolcats funny1","when":"2016-11-02T09:57:06.090Z"},{"term":"lolcats funny","when":"2016-11-02T09:55:56.813Z"},{"term":"lolcats funny","when":"2016-11-02T09:14:34.329Z"},{"term":"lolcats funny","when":"2016-11-02T09:13:53.456Z"},{"term":"lolcats funny","when":"2016-11-02T06:50:06.117Z"},{"term":"lolcats funny","when":"2016-11-02T06:18:15.096Z"},{"term":"lolcats funny","when":"2016-11-02T04:35:41.086Z"}]
		</code>

	</div>
</div>
<% include ./partials/footer %>				
